<!DOCTYPE html>
<html>
  <head>
    <title>ALEX TING 2015</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ALEX TING USANDO <%= title %><%= programa %></h1>
    <p>Bienvenidos a mi pag web :D</p>
  </body>
</html>
