
<table>       
     <tr>
<td>
<%= listado[0]. etiquetaVideo %>
</td>
<td>
<a href="<%= listado[0]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>
</td>

<td>
<%= listado[0]. generoVideo %>
</td>

<td>
<%= listado[0]. duracionVideo %>
</td>


</tr>

</table>



