
<table>       
     <tr>
<td>
<%= listado[1]. etiquetaVideo %>
</td>
<td>
<a href="<%= listado[1]. direccionVideo %>" target="_new">Pulse aqui para la reproduccion en una ventana diferente</a>
</td>

<td>
<%= listado[1]. generoVideo %>
</td>

<td>
<%= listado[1]. duracionVideo %>
</td>


</tr>

</table>



